<main id="main-content">
  <section id="welcome" class="container">
    <figure>
      <img src="./assets/media/foto-2.jpg" alt="foto-saya" srcset="./assets/media/foto-2.jpg">
    </figure>
    <h2 class="animate__animated animate__bounce">Muhammad Faiz Kurniawan</h2>
    <p>Hi, I am Muhammad Faiz Kurniawan</p>
    <p>You can call me <span>faiz</span> or <span>kur</span> of <span>faizkur</span>. I am an agricultural student in University of Surabaya. I love photography and also active on community!</p>
  </section>