<div class="wrapper">
    <section id="about-me">
            <img src="./assets/media/pertanian-1.jpg" style="width: 400px;">
            <div class="kolom">
                <h2>about me!</h2>
                <p class="deskripsi">I am just a farmer </p>
                <p>Since 2019, after receiving funding from an Indonesian entrepreneurship competition, I have built a hydroponic garden called nandur.in, which is located near the campus. I am one of the 8 members of the hydroponic garden until 2021 we decide to finish college first but, until now no one has started our garden again.
                </p>
            </div>
    </section>
    </div> 