<section id="hobby">
    <div class="kolom">
        <h2>Hobby</h2>
        <p class="deskripsi">my hidest hobby</p>
        <p>I like traveling and photography, I really like capturing moments in my life, especially on vacation. this hobby should be hidden because it spends a lot of my money hehe.</p>
    </div>
    <img src="/assets//media/foto-5.jpg">
    <!-- <table>
        <tr>
            <td><img src="/assets/media/IMG_0903.JPG"></td>
            <td><img src="/assets/media/foto-6.jpg"></td>
            <td><img src="/assets//media/foto-5.jpg"></td>
        </tr>
    </table> -->
</section>
