<section id="contact" class="container">
    <h2>Contact me here!</h2>
    <p> </p>
    <ul>
      <li id="github">
        <a href="https://www.linkedin.com/in/muhammad-faiz-kurniawan-9a9084255/" title="Github" target="_blank" rel="noopener noreferrer">
          <span class="screen-reader-text">Github</span>
          <img class="animasi-timbul" src="./assets/media/icons8-github 1.svg" alt="Your Gihub Username">
        </a>
      </li>
      <li id="facebook">
        <a href="https://www.facebook.com/kurniawansania" title="facebook" target="_blank" rel="noopener noreferrer">
          <span class="screen-reader-text">Facebook</span>
          <img class="animasi-timbul" src="./assets/media/icons8-facebook 1.svg" alt="faiz kurniawan" srcset="./assets/media/icons8-facebook 1.svg">
        </a>
      </li>
      <li id="instagram">
        <a href="https://www.instagram.com/faiz.kur/" rel="noopener noreferrer" title="Instagram" target="_blank">
          <span class="screen-reader-text">instagram</span>
        <img class="animasi-timbul" src="./assets/media/icons8-instagram.svg" alt="Your name at Instagram" srcset="./assets/media/icons8-instagram.svg">
        </a>
      </li>
    </ul>
  </section>
</main>